services:
  stats-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password

  stats-server:
    image: nginx:alpine  # ← веб-сервер который отвечает на порту 80
    ports:
      - "9090:80"

  ewm-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ewm
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password

  ewm-service:
    image: springcommunity/spring-boot-actuator:latest
    ports:
      - "8080:8080"
    environment:
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: health