services:
  stats-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  stats-server:
    build: ./stats-service
    ports:
      - "9090:80"
    depends_on:
      stats-db:
        condition: service_healthy
    healthcheck:  # ← ДОБАВЬТЕ ЭТО
      test: ["CMD", "curl", "-f", "http://localhost:80 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  ewm-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ewm
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ewm-service:
    build: ./main-service
    ports:
      - "8080:80"
    depends_on:
      ewm-db:
        condition: service_healthy
      stats-server:  # ← этот сервис ждет healthcheck
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s