# docker-compose.yml
services:
  ewm-db:
    image: postgres:14-alpine
    container_name: ewm-db
    environment:
      POSTGRES_DB: ewm_main_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  stats-db:
    image: postgres:14-alpine
    container_name: stats-db
    environment:
      POSTGRES_DB: ewm_stats_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  stats-server:
    build: ./stats-server
    ports:
      - "9090:9090"

  ewm-service:
    build: ./main-service
    ports:
      - "8080:8080"
    depends_on:
      - stats-server